* {
  margin: 0px;
  padding: 0px;
  font-family: 'Comfortaa', cursive;
}
h1 {
  font-size: 40px;
  padding-bottom: 10px;
}
h2 {
  font-size: 20px;
}
ul {
  list-style: none;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  color: #fafaff;
  opacity: 0.6;
  text-decoration: none;
  padding-right: 30px;
}

a:hover {
  opacity: 1;
}

.eachSection {
  width: 100vw;
}

#ourhome {
  color: #fafaff;
  margin-right: auto;
  float: left;
  font-size: 1.7vh;
  padding-left: 20px;
}
#mainNav {
  width: 100vw;
  height: 6vh;
  font-size: 1.8vh;
  display: flex;
  align-items: center;
  background-color: #333;
  position: fixed;
}

#reminders {
  height: 70vh;
  background-color: #fafaff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#overview {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(213, 227, 234, 1);
}

#contactUs {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}
#communication {
  height: 70vh;
  background-color: #fafaff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#finance {
  height: 70vh;
  background-color: rgba(213, 227, 234, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#ourHomeLogo {
  height: 30vh;
  /* width: 40 */
}

#messagingPhoto {
  height: 60vh;
}

#messagingPhoto2 {
  height: 50vh;
 
  
}

#secondMessaging {
  width: 50%;
  margin-left: 2%;
  color: #333;
}


#email{
  padding: 20px;

}